In [1]:
import findspark
findspark.init()
#findspark.find()

from pyspark.sql import SparkSession
from pyspark.sql.functions import*

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, BooleanType, DoubleType

import pandas as pd

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()

Create a New Column in a Spark DataFrame

In [19]:
df = spark.read.load("spark_files/RealEstate.csv", format="csv", header = True,inferSchema = True)
#df.show(8)
df.withColumn('PriceAfterService', df.Price + 1000).show()
#Checking the Updated DataFrame

+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|   MLS|          Location|   Price|Bedrooms|Bathrooms|Size|Price SQ Ft|    Status|PriceAfterService|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|132842|     Arroyo Grande|795000.0|       3|        3|2371|      335.3|Short Sale|         796000.0|
|134364|       Paso Robles|399000.0|       4|        3|2818|     141.59|Short Sale|         400000.0|
|135141|       Paso Robles|545000.0|       4|        3|3032|     179.75|Short Sale|         546000.0|
|135712|         Morro Bay|909000.0|       4|        4|3540|     256.78|Short Sale|         910000.0|
|136282|Santa Maria-Orcutt|109900.0|       3|        1|1249|      87.99|Short Sale|         110900.0|
|136431|            Oceano|324900.0|       3|        3|1800|      180.5|Short Sale|         325900.0|
|137036|Santa Maria-Orcutt|192900.0|       4|        2|1603|     120.34|Short Sale|         193900.0|
|137090|Santa Maria-Orcutt|215000.0|       3|        2|1450|     148.28|Short Sale|         216000.0|
|137159|         Morro Bay|999000.0|       4|        3|3360|     297.32|Short Sale|        1000000.0|
|137570|        Atascadero|319000.0|       3|        2|1323|     241.12|Short Sale|         320000.0|
|138053|Santa Maria-Orcutt|350000.0|       3|        2|1750|      200.0|Short Sale|         351000.0|
|138730|Santa Maria-Orcutt|249000.0|       3|        2|1400|     177.86|Short Sale|         250000.0|
|139291|     Arroyo Grande|299000.0|       2|        2|1257|     237.87|Short Sale|         300000.0|
|139427|Santa Maria-Orcutt|235900.0|       3|        2|1400|      168.5|Short Sale|         236900.0|
|139461|Santa Maria-Orcutt|348000.0|       3|        2|1600|      217.5|Short Sale|         349000.0|
|139661|       Paso Robles|314000.0|       4|        3|1794|     175.03|Short Sale|         315000.0|
|139918|        Los Alamos|399000.0|       4|        2|1850|     215.68|Short Sale|         400000.0|
|139932|        San Miguel|599000.0|       3|        3|2950|     203.05|Short Sale|         600000.0|
|140044|       Paso Robles|299000.0|       3|        2|1719|     173.94|Short Sale|         300000.0|
|140073|   San Luis Obispo|425000.0|       3|        3|1472|     288.72|Short Sale|         426000.0|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
only showing top 20 rows

Select Method on Dataframe

In [8]:
#Show all entries in Location column
df.select("Location").show(20)

+------------------+
|          Location|
+------------------+
|     Arroyo Grande|
|       Paso Robles|
|       Paso Robles|
|         Morro Bay|
|Santa Maria-Orcutt|
|            Oceano|
|Santa Maria-Orcutt|
|Santa Maria-Orcutt|
|         Morro Bay|
|        Atascadero|
|Santa Maria-Orcutt|
|Santa Maria-Orcutt|
|     Arroyo Grande|
|Santa Maria-Orcutt|
|Santa Maria-Orcutt|
|       Paso Robles|
|        Los Alamos|
|        San Miguel|
|       Paso Robles|
|   San Luis Obispo|
+------------------+
only showing top 20 rows

In [9]:
#Show all entries in Location, Price, rank, Status columns
df.select("Location", "Price", "Status").show(30)

+------------------+---------+----------+
|          Location|    Price|    Status|
+------------------+---------+----------+
|     Arroyo Grande| 795000.0|Short Sale|
|       Paso Robles| 399000.0|Short Sale|
|       Paso Robles| 545000.0|Short Sale|
|         Morro Bay| 909000.0|Short Sale|
|Santa Maria-Orcutt| 109900.0|Short Sale|
|            Oceano| 324900.0|Short Sale|
|Santa Maria-Orcutt| 192900.0|Short Sale|
|Santa Maria-Orcutt| 215000.0|Short Sale|
|         Morro Bay| 999000.0|Short Sale|
|        Atascadero| 319000.0|Short Sale|
|Santa Maria-Orcutt| 350000.0|Short Sale|
|Santa Maria-Orcutt| 249000.0|Short Sale|
|     Arroyo Grande| 299000.0|Short Sale|
|Santa Maria-Orcutt| 235900.0|Short Sale|
|Santa Maria-Orcutt| 348000.0|Short Sale|
|       Paso Robles| 314000.0|Short Sale|
|        Los Alamos| 399000.0|Short Sale|
|        San Miguel| 599000.0|Short Sale|
|       Paso Robles| 299000.0|Short Sale|
|   San Luis Obispo| 425000.0|Short Sale|
|         Morro Bay|1100000.0|Short Sale|
|           Cayucos|1500000.0|Short Sale|
|Santa Maria-Orcutt| 110000.0|Short Sale|
|Santa Maria-Orcutt| 200000.0|Short Sale|
|Santa Maria-Orcutt| 134900.0|Short Sale|
|Santa Maria-Orcutt| 250000.0|Short Sale|
|       Pismo Beach| 950000.0|Short Sale|
|Santa Maria-Orcutt| 239950.0|Short Sale|
|Santa Maria-Orcutt| 170000.0|Short Sale|
|Santa Maria-Orcutt| 285000.0|Short Sale|
+------------------+---------+----------+
only showing top 30 rows

Select w/ Column

In [10]:
cardf = spark.read.load("spark_files/cars.csv", format="csv", header = True,inferSchema = True)

cardf.withColumn('HW Ratio', cardf['Weight'] / cardf['Horsepower']).select('HW Ratio').show()

+------------------+
|          HW Ratio|
+------------------+
|21.834285714285713|
|20.263157894736842|
|             24.48|
|35.666666666666664|
| 33.36666666666667|
|28.416666666666668|
|              null|
| 36.27777777777778|
| 29.42222222222222|
|             26.34|
|             27.89|
|             29.14|
|  28.5979381443299|
|             29.45|
|             29.01|
| 34.27777777777778|
|26.927272727272726|
|             32.88|
|             24.48|
|33.018181818181816|
+------------------+
only showing top 20 rows

In [11]:
cardf.select(mean("Weight")).show()
#Alternate 
cardf.select(avg('Weight')).show()

cardf.select(max("quantity"),min("quantity")).show()

+------------------+
|       avg(Weight)|
+------------------+
|2979.4137931034484|
+------------------+

+------------------+
|       avg(Weight)|
+------------------+
|2979.4137931034484|
+------------------+

+-------------+-------------+
|max(quantity)|min(quantity)|
+-------------+-------------+
|        75275|            2|
+-------------+-------------+

In [12]:
df.select('Location','Price').filter(df['Price'] < 50000).show ()

# Alternate 
#df.select('Location','Price').filter(df.Price < 50000).show ()

+-------------------+-------+
|           Location|  Price|
+-------------------+-------+
| Santa Maria-Orcutt|29000.0|
|         New Cuyama|40900.0|
| Santa Maria-Orcutt|36000.0|
| Santa Maria-Orcutt|26500.0|
+-------------------+-------+

Sort() method

In [13]:
df.select("Location", "Price").sort(df["Price"].desc()).show(100)

+-------------------+---------+
|           Location|    Price|
+-------------------+---------+
|      Arroyo Grande|5499000.0|
|            Cambria|2995000.0|
|    San Luis Obispo|2369000.0|
|            Cambria|2000000.0|
|        Avila Beach|1999000.0|
|      Arroyo Grande|1900000.0|
|        Pismo Beach|1799000.0|
|             Nipomo|1700000.0|
|            Bradley|1600000.0|
|            Cayucos|1500000.0|
|      Arroyo Grande|1499000.0|
|    San Luis Obispo|1490000.0|
|             Nipomo|1399900.0|
|          Templeton|1399000.0|
|         Santa Ynez|1395000.0|
|           Los Osos|1350000.0|
|            Cambria|1290000.0|
|             Oceano|1250000.0|
|           Los Osos|1249000.0|
|      Arroyo Grande|1249000.0|
|        Out Of Area|1195000.0|
|             Oceano|1195000.0|
|          Templeton|1150000.0|
|            Cambria|1100000.0|
|          Morro Bay|1100000.0|
|        Pismo Beach|1100000.0|
|             Nipomo|1065000.0|
|          Morro Bay|1045000.0|
|       Grover Beach| 999000.0|
|         Santa Ynez| 999000.0|
|          Morro Bay| 999000.0|
|            Cambria| 995000.0|
|         Atascadero| 995000.0|
|      Arroyo Grande| 995000.0|
|          Morro Bay| 982800.0|
|      Arroyo Grande| 975000.0|
|        Pismo Beach| 950000.0|
|         Atascadero| 949000.0|
|        Pismo Beach| 920000.0|
|          Morro Bay| 909000.0|
|         Atascadero| 900000.0|
|          Morro Bay| 899000.0|
|        Pismo Beach| 899000.0|
|          Templeton| 899000.0|
|         Atascadero| 895000.0|
|    San Luis Obispo| 890000.0|
|         Atascadero| 890000.0|
|             Nipomo| 879000.0|
|        Pismo Beach| 875000.0|
|         Atascadero| 865000.0|
|            Cambria| 865000.0|
| Santa Maria-Orcutt| 850000.0|
|         Atascadero| 850000.0|
|      Arroyo Grande| 850000.0|
|      Arroyo Grande| 849900.0|
|        Pismo Beach| 849500.0|
|        Avila Beach| 839000.0|
|         Atascadero| 830000.0|
|         Atascadero| 829900.0|
|            Cambria| 825000.0|
|         Atascadero| 820000.0|
|         Atascadero| 810000.0|
|          Templeton| 799000.0|
|        Pismo Beach| 795000.0|
|      Arroyo Grande| 795000.0|
|         Santa Ynez| 795000.0|
|          Morro Bay| 789000.0|
|             Oceano| 789000.0|
|           Los Osos| 779000.0|
|        Avila Beach| 779000.0|
|          Templeton| 774800.0|
|          Morro Bay| 774000.0|
| Santa Maria-Orcutt| 751900.0|
|         Atascadero| 750000.0|
|      Arroyo Grande| 749000.0|
|           Los Osos| 729000.0|
|            Cambria| 729000.0|
|         San Miguel| 720000.0|
| Santa Maria-Orcutt| 699900.0|
|            Cambria| 699900.0|
|             Nipomo| 699000.0|
|         Atascadero| 699000.0|
|        Paso Robles| 695000.0|
|            Cayucos| 695000.0|
|         Santa Ynez| 695000.0|
|         Atascadero| 669000.0|
|          Morro Bay| 652000.0|
|            Cambria| 650000.0|
|           Los Osos| 650000.0|
|             Nipomo| 650000.0|
|             Nipomo| 649000.0|
|           Los Osos| 648000.0|
|           Buellton| 645000.0|
| Santa Maria-Orcutt| 641900.0|
|         Atascadero| 640000.0|
|        Pismo Beach| 639900.0|
|           Los Osos| 625000.0|
|          Templeton| 625000.0|
|        Pismo Beach| 604995.0|
|        Paso Robles| 599900.0|
+-------------------+---------+
only showing top 100 rows

In [14]:
df.select("Location", "Price").groupby("Location").avg().show(10)

+--------------+------------------+
|      Location|        avg(Price)|
+--------------+------------------+
|   Pismo Beach| 772374.5833333334|
|     King City|          131190.0|
|    New Cuyama|           40900.0|
|        Nipomo| 454166.6666666667|
|        Oceano|          392640.0|
|        Nipomo| 430629.4117647059|
|     Templeton| 705890.9090909091|
| Arroyo Grande|1013958.3333333334|
|   Bakersfield|           91500.0|
|     Guadalupe|          117250.0|
+--------------+------------------+
only showing top 10 rows

In [15]:
df.select("Location", "Status", df.Status.like("%Foreclosure%")).show(100)

+------------------+-----------+-------------------------+
|          Location|     Status|Status LIKE %Foreclosure%|
+------------------+-----------+-------------------------+
|     Arroyo Grande| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|         Morro Bay| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|            Oceano| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|         Morro Bay| Short Sale|                    false|
|        Atascadero| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|     Arroyo Grande| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|        Los Alamos| Short Sale|                    false|
|        San Miguel| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|   San Luis Obispo| Short Sale|                    false|
|         Morro Bay| Short Sale|                    false|
|           Cayucos| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Pismo Beach| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|        Atascadero| Short Sale|                    false|
|            Nipomo| Short Sale|                    false|
|         Guadalupe| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Pismo Beach| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|         Morro Bay| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|            Nipomo| Short Sale|                    false|
|          Los Osos| Short Sale|                    false|
|     Arroyo Grande| Short Sale|                    false|
|         Templeton| Short Sale|                    false|
|         Templeton| Short Sale|                    false|
|      Grover Beach| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|         Templeton|Foreclosure|                     true|
|Santa Maria-Orcutt| Short Sale|                    false|
|           Cambria| Short Sale|                    false|
|         Morro Bay|Foreclosure|                     true|
|            Nipomo| Short Sale|                    false|
|            Nipomo| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|       Pismo Beach| Short Sale|                    false|
|          Los Osos| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|         Morro Bay|Foreclosure|                     true|
|         Morro Bay|Foreclosure|                     true|
|         Morro Bay|Foreclosure|                     true|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|      Grover Beach| Short Sale|                    false|
|            Nipomo| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt|Foreclosure|                     true|
|            Nipomo| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|     Arroyo Grande| Short Sale|                    false|
|   San Luis Obispo| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|        Atascadero| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|         Templeton| Short Sale|                    false|
|   San Luis Obispo| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
|          Los Osos| Short Sale|                    false|
|        Atascadero| Short Sale|                    false|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt|Foreclosure|                     true|
|Santa Maria-Orcutt| Short Sale|                    false|
|     Arroyo Grande| Short Sale|                    false|
|Santa Maria-Orcutt|Foreclosure|                     true|
|       Paso Robles| Short Sale|                    false|
|Santa Maria-Orcutt| Short Sale|                    false|
+------------------+-----------+-------------------------+
only showing top 100 rows

Dataframe with SparkSQL Table

In [16]:
zipdf = spark.read.json("spark_files/zipcode1.json")
zipdf.createTempView("ziptable1")
spark.sql("SELECT count(*) from ziptable1").show()

+--------+
|count(1)|
+--------+
|       1|
+--------+

Join two date frames using the .sql Method from two .csv files

In [17]:
empdf = spark.read.load("spark_files/employee.csv", format="csv", header = True,inferSchema = True)
empdf.printSchema()

officedf = spark.read.load("spark_files/officecode.csv", format="csv", header = True  ,inferSchema = True)
empdf.printSchema()

empdf.createTempView("employee_table")
officedf.createTempView("office_table")

spark.sql("SELECT employee_table.employeeNumber, employee_table.firstName,employee_table.lastName,jobTitle, employee_table.officeCode, \
office_table.addressLine1, office_table.state  FROM employee_table \
join office_table ON office_table.officeCode = employee_table.officeCode").show(10)

root
 |-- employeeNumber: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email: string (nullable = true)
 |-- officeCode: integer (nullable = true)
 |-- reportsTo: integer (nullable = true)
 |-- jobTitle: string (nullable = true)

root
 |-- employeeNumber: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email: string (nullable = true)
 |-- officeCode: integer (nullable = true)
 |-- reportsTo: integer (nullable = true)
 |-- jobTitle: string (nullable = true)

+--------------+---------+---------+--------------------+----------+--------------------+-----+
|employeeNumber|firstName| lastName|            jobTitle|officeCode|        addressLine1|state|
+--------------+---------+---------+--------------------+----------+--------------------+-----+
|          1002|    Diane|   Murphy|           President|         1|   100 Market Street|   CA|
|          1056|     Mary|Patterson|            VP Sales|         1|   100 Market Street|   CA|
|          1076|     Jeff| Firrelli|        VP Marketing|         1|   100 Market Street|   CA|
|          1088|  William|Patterson|Sales Manager (APAC)|         6|5-11 Wentworth Av...| NULL|
|          1102|   Gerard|   Bondur| Sale Manager (EMEA)|         4|     43 Rue Jouffroy|   NY|
|          1143|  Anthony|      Bow|  Sales Manager (NA)|         1|   100 Market Street|   CA|
|          1165|   Leslie| Jennings|           Sales Rep|         1|   100 Market Street|   CA|
|          1166|   Leslie| Thompson|           Sales Rep|         1|   100 Market Street|   CA|
|          1188|    Julie| Firrelli|           Sales Rep|         2|    1550 Court Place|   MA|
|          1216|    Steve|Patterson|           Sales Rep|         2|    1550 Court Place|   MA|
+--------------+---------+---------+--------------------+----------+--------------------+-----+
only showing top 10 rows

Connect to a SparkSQL Database and add a new Table

In [18]:
simpleData = [(1,"James","Sales","NY",90000), \
    (2,"Michael","Sales","NY",86000), \
    (3,"Robert","Sales","CA",81000), \
    (4,"Maria","Finance","CA",90000)]
#---- Declare schema for data-----
columns = ["EMPLOYEEID","employee_name","department","state","salary"]

# --- Creating data frame Using createDataFrame() function-----
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()

#----  save the dataframe to the MySQL table-----
df.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/classicmodels") \
  .option("dbtable", "classicmodels.Employees_forSparkDemo") \
  .option("user", "root") \
  .option("password", "password") \
  .save()

root
 |-- EMPLOYEEID: long (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)