In [10]:
import pyspark
import pandas as pd

In [8]:


from pyspark import SparkContext
sc = SparkContext.getOrCreate()
# remember to change the path/location of file
airports = sc.textFile("/Users/sae/vs_projects/spark_demo/spark_files/airports.txt.text")
airports.take(9)
sc.stop()

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000)]

columns = ["employee_name","department","state","salary","age","bonus"]
# ------Creating data frame Using createDataFrame() function-----
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/08 13:30:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/08 13:30:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/08 13:30:05 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
+-------------+----------+-----+------+---+-----+

In [2]:
import pandas as pd
student_dict = {"id": [1001, 1002, 1003],"name": [ "Young", "James", "Haseeb"],"city": [ "Rego Park", "Bronx", "Astoria"]}

# --- panda dataframe ----
pd_df = pd.DataFrame(student_dict)
print(pd_df)


# ----- SparkSQL dataframe-----
sp_df = spark.createDataFrame(pd_df)
sp_df.printSchema()
sp_df.show()

     id    name       city
0  1001   Young  Rego Park
1  1002   James      Bronx
2  1003  Haseeb    Astoria
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+----+------+---------+
|  id|  name|     city|
+----+------+---------+
|1001| Young|Rego Park|
|1002| James|    Bronx|
|1003|Haseeb|  Astoria|
+----+------+---------+

In [5]:
# create df from csv
df = spark.read.load("spark_files//RealEstate.csv", format="csv", header = True,inferSchema = True)
df.printSchema()

root
 |-- MLS: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Bedrooms: integer (nullable = true)
 |-- Bathrooms: integer (nullable = true)
 |-- Size: integer (nullable = true)
 |-- Price SQ Ft: double (nullable = true)
 |-- Status: string (nullable = true)

In [3]:
df = spark.read.json("spark_files/zipcode.json")
df.printSchema()
df.show()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark_sql_connect')\
                            .config("spark.jars", "./mysql-connector-j-8.0.32.jar")\
                            .getOrCreate()

df = spark.read \
    .jdbc("jdbc:mysql://localhost:3306/classicmodels", "products", \
          properties={"user": "root", "driver":"com.mysql.cj.jdbc.Driver"})
df.show()

+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
|productCode|         productName|     productLine|productScale|       productVendor|  productDescription|quantityInStock|buyPrice|  MSRP|
+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
|   S10_1678|1969 Harley David...|     Motorcycles|        1:10|     Min Lin Diecast|This replica feat...|           7933|   48.81| 95.70|
|   S10_1949|1952 Alpine Renau...|    Classic Cars|        1:10|Classic Metal Cre...|Turnable front wh...|           7305|   98.58|214.30|
|   S10_2016|1996 Moto Guzzi 1...|     Motorcycles|        1:10|Highway 66 Mini C...|Official Moto Guz...|           6625|   68.99|118.94|
|   S10_4698|2003 Harley-David...|     Motorcycles|        1:10|   Red Start Diecast|Model features, o...|           5582|   91.02|193.66|
|   S10_4757| 1972 Alfa Romeo GTA|    Classic Cars|        1:10|Motor City Art Cl...|Features include:...|           3252|   85.68|136.00|
|   S10_4962|1962 LanciaA Delt...|    Classic Cars|        1:10| Second Gear Diecast|Features include:...|           6791|  103.42|147.74|
|   S12_1099|   1968 Ford Mustang|    Classic Cars|        1:12|Autoart Studio De...|Hood, doors and t...|             68|   95.34|194.57|
|   S12_1108|   2001 Ferrari Enzo|    Classic Cars|        1:12| Second Gear Diecast|Turnable front wh...|           3619|   95.59|207.80|
|   S12_1666|      1958 Setra Bus|Trucks and Buses|        1:12|Welly Diecast Pro...|Model features 30...|           1579|   77.90|136.67|
|   S12_2823|    2002 Suzuki XREO|     Motorcycles|        1:12|Unimax Art Galleries|Official logos an...|           9997|   66.27|150.62|
|   S12_3148|  1969 Corvair Monza|    Classic Cars|        1:18|Welly Diecast Pro...|1:18 scale die-ca...|           6906|   89.14|151.08|
|   S12_3380|  1968 Dodge Charger|    Classic Cars|        1:12|Welly Diecast Pro...|1:12 scale model ...|           9123|   75.16|117.44|
|   S12_3891|    1969 Ford Falcon|    Classic Cars|        1:12| Second Gear Diecast|Turnable front wh...|           1049|   83.05|173.02|
|   S12_3990|1970 Plymouth Hem...|    Classic Cars|        1:12| Studio M Art Models|Very detailed 197...|           5663|   31.92| 79.80|
|   S12_4473|   1957 Chevy Pickup|Trucks and Buses|        1:12|       Exoto Designs|1:12 scale die-ca...|           6125|   55.70|118.50|
|   S12_4675|  1969 Dodge Charger|    Classic Cars|        1:12|Welly Diecast Pro...|Detailed model of...|           7323|   58.73|115.16|
|   S18_1097|1940 Ford Pickup ...|Trucks and Buses|        1:18| Studio M Art Models|This model featur...|           2613|   58.33|116.67|
|   S18_1129|     1993 Mazda RX-7|    Classic Cars|        1:18|Highway 66 Mini C...|This model featur...|           3975|   83.51|141.54|
|   S18_1342|1937 Lincoln Berline|    Vintage Cars|        1:18|Motor City Art Cl...|Features opening ...|           8693|   60.62|102.74|
|   S18_1367|1936 Mercedes-Ben...|    Vintage Cars|        1:18| Studio M Art Models|This 1:18 scale r...|           8635|   24.26| 53.91|
+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
only showing top 20 rows

In [5]:
df=spark.read.format("jdbc")\
             .option("driver","com.mysql.cj.jdbc.Driver")\
             .option("url","jdbc:mysql://localhost:3306/classicmodels")\
             .option("user","root")\
             .option("dbtable","orders")\
             .load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10100|2003-01-06|  2003-01-13| 2003-01-10|Shipped|                null|           363|
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10102|2003-01-10|  2003-01-18| 2003-01-14|Shipped|                null|           181|
|      10103|2003-01-29|  2003-02-07| 2003-02-02|Shipped|                null|           121|
|      10104|2003-01-31|  2003-02-09| 2003-02-01|Shipped|                null|           141|
|      10105|2003-02-11|  2003-02-21| 2003-02-12|Shipped|                null|           145|
|      10106|2003-02-17|  2003-02-24| 2003-02-21|Shipped|                null|           278|
|      10107|2003-02-24|  2003-03-03| 2003-02-26|Shipped|Difficult to nego...|           131|
|      10108|2003-03-03|  2003-03-12| 2003-03-08|Shipped|                null|           385|
|      10109|2003-03-10|  2003-03-19| 2003-03-11|Shipped|Customer requeste...|           486|
|      10110|2003-03-18|  2003-03-24| 2003-03-20|Shipped|                null|           187|
|      10111|2003-03-25|  2003-03-31| 2003-03-30|Shipped|                null|           129|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10113|2003-03-26|  2003-04-02| 2003-03-27|Shipped|                null|           124|
|      10114|2003-04-01|  2003-04-07| 2003-04-02|Shipped|                null|           172|
|      10115|2003-04-04|  2003-04-12| 2003-04-07|Shipped|                null|           424|
|      10116|2003-04-11|  2003-04-19| 2003-04-13|Shipped|                null|           381|
|      10117|2003-04-16|  2003-04-24| 2003-04-17|Shipped|                null|           148|
|      10118|2003-04-21|  2003-04-29| 2003-04-26|Shipped|Customer has work...|           216|
|      10119|2003-04-28|  2003-05-05| 2003-05-02|Shipped|                null|           382|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
only showing top 20 rows

In [8]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-macosx_12_0_arm64.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 14.0 MB/s eta 0:00:00a 0:00:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.1/162.1 kB 20.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [3]:
import mysql.connector
#spark = SparkSession.builder.master(master).appName(appName).getOrCreate()
conn = mysql.connector.connect(host="localhost",
                               user="root")

In [8]:
cur = conn.cursor()
cur.execute("show databases;")
dbs = cur.fetchall()
print(dbs)
conn.close()

[('classicmodels',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('test_db',)]

In [11]:
appName = "PySpark+mysql.connector"
master = "local"

spark = SparkSession.builder.master(master).appName(appName).getOrCreate()

# Establish a connection
conn = mysql.connector.connect(user='root', database='classicmodels',
                               host="localhost")
cursor = conn.cursor()
query = "SELECT productCode, productName FROM products"
# Create a pandas dataframe
pdf = pd.read_sql(query, con=conn)
conn.close()

# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(pdf)

df.show()

/var/folders/b_/g3c_7hwd70j9k5t4lqfhswnh0000gn/T/ipykernel_2553/77378744.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pdf = pd.read_sql(query, con=conn)
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+-----------+--------------------+
|productCode|         productName|
+-----------+--------------------+
|   S10_1678|1969 Harley David...|
|   S10_1949|1952 Alpine Renau...|
|   S10_2016|1996 Moto Guzzi 1...|
|   S10_4698|2003 Harley-David...|
|   S10_4757| 1972 Alfa Romeo GTA|
|   S10_4962|1962 LanciaA Delt...|
|   S12_1099|   1968 Ford Mustang|
|   S12_1108|   2001 Ferrari Enzo|
|   S12_1666|      1958 Setra Bus|
|   S12_2823|    2002 Suzuki XREO|
|   S12_3148|  1969 Corvair Monza|
|   S12_3380|  1968 Dodge Charger|
|   S12_3891|    1969 Ford Falcon|
|   S12_3990|1970 Plymouth Hem...|
|   S12_4473|   1957 Chevy Pickup|
|   S12_4675|  1969 Dodge Charger|
|   S18_1097|1940 Ford Pickup ...|
|   S18_1129|     1993 Mazda RX-7|
|   S18_1342|1937 Lincoln Berline|
|   S18_1367|1936 Mercedes-Ben...|
+-----------+--------------------+
only showing top 20 rows

In [6]:
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()

23/02/09 23:10:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [8]:
df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable="classicmodels.orders").load()

In [9]:
 # return number of rows
df.count()

326

In [10]:
df.printSchema()

root
 |-- orderNumber: integer (nullable = true)
 |-- orderDate: date (nullable = true)
 |-- requiredDate: date (nullable = true)
 |-- shippedDate: date (nullable = true)
 |-- status: string (nullable = true)
 |-- comments: string (nullable = true)
 |-- customerNumber: integer (nullable = true)

In [11]:
# Read with custom query:
query="(select * from orders where customerNumber = 144) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

In [12]:
# Read with custom query:
query="(select * from orders where customerNumber = 144 or customerNumber = 128) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query \
                                    ).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10230|2004-03-15|  2004-03-24| 2004-03-20|Shipped|Customer very con...|           128|
|      10300|2003-10-04|  2003-10-13| 2003-10-09|Shipped|                null|           128|
|      10323|2004-11-05|  2004-11-12| 2004-11-09|Shipped|                null|           128|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

In [13]:
df.explain()

== Physical Plan ==
*(1) Scan JDBCRelation((select * from orders where customerNumber = 144 or customerNumber = 128) as cust) [numPartitions=1] [orderNumber#415,orderDate#416,requiredDate#417,shippedDate#418,status#419,comments#420,customerNumber#421] PushedFilters: [], ReadSchema: struct<orderNumber:int,orderDate:date,requiredDate:date,shippedDate:date,status:string,comments:s...

23/02/10 06:09:48 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 971430 ms exceeds timeout 120000 ms
23/02/10 06:09:48 WARN SparkContext: Killing executors is not supported by current scheduler.

In [15]:
# withColumn:
df = spark.read.load("spark_files/RealEstate.csv", format="csv", header = True,inferSchema = True)
df.head(3)

[Row(MLS=132842, Location='Arroyo Grande', Price=795000.0, Bedrooms=3, Bathrooms=3, Size=2371, Price SQ Ft=335.3, Status='Short Sale'),
 Row(MLS=134364, Location='Paso Robles', Price=399000.0, Bedrooms=4, Bathrooms=3, Size=2818, Price SQ Ft=141.59, Status='Short Sale'),
 Row(MLS=135141, Location='Paso Robles', Price=545000.0, Bedrooms=4, Bathrooms=3, Size=3032, Price SQ Ft=179.75, Status='Short Sale')]

In [18]:
df = df.withColumn("PriceAfterService", df.Price+ 1000)

In [19]:
df.columns

['MLS',
 'Location',
 'Price',
 'Bedrooms',
 'Bathrooms',
 'Size',
 'Price SQ Ft',
 'Status',
 'PriceAfterService']

In [20]:
df.show(8)

+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|   MLS|          Location|   Price|Bedrooms|Bathrooms|Size|Price SQ Ft|    Status|PriceAfterService|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|132842|     Arroyo Grande|795000.0|       3|        3|2371|      335.3|Short Sale|         796000.0|
|134364|       Paso Robles|399000.0|       4|        3|2818|     141.59|Short Sale|         400000.0|
|135141|       Paso Robles|545000.0|       4|        3|3032|     179.75|Short Sale|         546000.0|
|135712|         Morro Bay|909000.0|       4|        4|3540|     256.78|Short Sale|         910000.0|
|136282|Santa Maria-Orcutt|109900.0|       3|        1|1249|      87.99|Short Sale|         110900.0|
|136431|            Oceano|324900.0|       3|        3|1800|      180.5|Short Sale|         325900.0|
|137036|Santa Maria-Orcutt|192900.0|       4|        2|1603|     120.34|Short Sale|         193900.0|
|137090|Santa Maria-Orcutt|215000.0|       3|        2|1450|     148.28|Short Sale|         216000.0|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
only showing top 8 rows

In [21]:
#SELECT select columns from df:
df.select("Location", "Price", "Status").show(30)

+------------------+---------+----------+
|          Location|    Price|    Status|
+------------------+---------+----------+
|     Arroyo Grande| 795000.0|Short Sale|
|       Paso Robles| 399000.0|Short Sale|
|       Paso Robles| 545000.0|Short Sale|
|         Morro Bay| 909000.0|Short Sale|
|Santa Maria-Orcutt| 109900.0|Short Sale|
|            Oceano| 324900.0|Short Sale|
|Santa Maria-Orcutt| 192900.0|Short Sale|
|Santa Maria-Orcutt| 215000.0|Short Sale|
|         Morro Bay| 999000.0|Short Sale|
|        Atascadero| 319000.0|Short Sale|
|Santa Maria-Orcutt| 350000.0|Short Sale|
|Santa Maria-Orcutt| 249000.0|Short Sale|
|     Arroyo Grande| 299000.0|Short Sale|
|Santa Maria-Orcutt| 235900.0|Short Sale|
|Santa Maria-Orcutt| 348000.0|Short Sale|
|       Paso Robles| 314000.0|Short Sale|
|        Los Alamos| 399000.0|Short Sale|
|        San Miguel| 599000.0|Short Sale|
|       Paso Robles| 299000.0|Short Sale|
|   San Luis Obispo| 425000.0|Short Sale|
|         Morro Bay|1100000.0|Short Sale|
|           Cayucos|1500000.0|Short Sale|
|Santa Maria-Orcutt| 110000.0|Short Sale|
|Santa Maria-Orcutt| 200000.0|Short Sale|
|Santa Maria-Orcutt| 134900.0|Short Sale|
|Santa Maria-Orcutt| 250000.0|Short Sale|
|       Pismo Beach| 950000.0|Short Sale|
|Santa Maria-Orcutt| 239950.0|Short Sale|
|Santa Maria-Orcutt| 170000.0|Short Sale|
|Santa Maria-Orcutt| 285000.0|Short Sale|
+------------------+---------+----------+
only showing top 30 rows

In [24]:
cardf = spark.read.load("spark_files/cars.csv", format="csv", header = True,inferSchema = True)
cardf.show(3)
cardf[["Weight", "Horsepower"]].show(2)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 3 rows

+------+----------+
|Weight|Horsepower|
+------+----------+
|  3821|       175|
|  3850|       190|
+------+----------+
only showing top 2 rows

In [30]:
# select with withcolumn
cardf.withColumn("hw_ratio", cardf["Weight"]/cardf["Horsepower"]).show(3)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|          hw_ratio|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|21.834285714285713|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|20.263157894736842|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|             24.48|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
only showing top 3 rows

In [31]:
from pyspark.sql.functions import mean,avg,max,min
from pyspark.sql.functions import round as round_

In [32]:
cardf.select(round_("Acceleration")).show(2)

+----------------------+
|round(Acceleration, 0)|
+----------------------+
|                  11.0|
|                   9.0|
+----------------------+
only showing top 2 rows

In [33]:
cardf.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- city: string (nullable = true)

In [34]:
cardf.select(max("quantity"),min("quantity")).show()

+-------------+-------------+
|max(quantity)|min(quantity)|
+-------------+-------------+
|        75275|            2|
+-------------+-------------+

In [ ]:
so_df = spark.read.csv("/Users/sae/Downloads/stack-overflow-developer-survey-2022/survey_results_public.csv", )