In [10]:
import pyspark
import pandas as pd

In [8]:


from pyspark import SparkContext
sc = SparkContext.getOrCreate()
# remember to change the path/location of file
airports = sc.textFile("/Users/sae/vs_projects/spark_demo/spark_files/airports.txt.text")
airports.take(9)
sc.stop()

In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000)]

columns = ["employee_name","department","state","salary","age","bonus"]
# ------Creating data frame Using createDataFrame() function-----
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/08 13:30:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/02/08 13:30:05 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/02/08 13:30:05 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|James        |Sales     |NY   |90000 |34 |10000|
|Michael      |Sales     |NY   |86000 |56 |20000|
|Robert       |Sales     |CA   |81000 |30 |23000|
|Maria        |Finance   |CA   |90000 |24 |23000|
+-------------+----------+-----+------+---+-----+

In [2]:
import pandas as pd
student_dict = {"id": [1001, 1002, 1003],"name": [ "Young", "James", "Haseeb"],"city": [ "Rego Park", "Bronx", "Astoria"]}

# --- panda dataframe ----
pd_df = pd.DataFrame(student_dict)
print(pd_df)


# ----- SparkSQL dataframe-----
sp_df = spark.createDataFrame(pd_df)
sp_df.printSchema()
sp_df.show()

     id    name       city
0  1001   Young  Rego Park
1  1002   James      Bronx
2  1003  Haseeb    Astoria
root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- city: string (nullable = true)

/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+----+------+---------+
|  id|  name|     city|
+----+------+---------+
|1001| Young|Rego Park|
|1002| James|    Bronx|
|1003|Haseeb|  Astoria|
+----+------+---------+

In [5]:
# create df from csv
df = spark.read.load("spark_files//RealEstate.csv", format="csv", header = True,inferSchema = True)
df.printSchema()

root
 |-- MLS: integer (nullable = true)
 |-- Location: string (nullable = true)
 |-- Price: double (nullable = true)
 |-- Bedrooms: integer (nullable = true)
 |-- Bathrooms: integer (nullable = true)
 |-- Size: integer (nullable = true)
 |-- Price SQ Ft: double (nullable = true)
 |-- Status: string (nullable = true)

In [3]:
df = spark.read.json("spark_files/zipcode.json")
df.printSchema()
df.show()

root
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Decommisioned: boolean (nullable = true)
 |-- EstimatedPopulation: long (nullable = true)
 |-- Lat: double (nullable = true)
 |-- Location: string (nullable = true)
 |-- LocationText: string (nullable = true)
 |-- LocationType: string (nullable = true)
 |-- Long: double (nullable = true)
 |-- Notes: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- State: string (nullable = true)
 |-- TaxReturnsFiled: long (nullable = true)
 |-- TotalWages: long (nullable = true)
 |-- WorldRegion: string (nullable = true)
 |-- Xaxis: double (nullable = true)
 |-- Yaxis: double (nullable = true)
 |-- Zaxis: double (nullable = true)
 |-- ZipCodeType: string (nullable = true)
 |-- Zipcode: long (nullable = true)

+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|               City|Country|Decommisioned|EstimatedPopulation|  Lat|            Location|        LocationText|  LocationType|   Long|        Notes|RecordNumber|State|TaxReturnsFiled|TotalWages|WorldRegion|Xaxis|Yaxis|Zaxis|ZipCodeType|Zipcode|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
|        PARC PARQUE|     US|        false|               null|17.96|NA-US-PR-PARC PARQUE|     Parc Parque, PR|NOT ACCEPTABLE| -66.22|         null|           1|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|PASEO COSTA DEL SUR|     US|        false|               null|17.96|NA-US-PR-PASEO CO...|Paseo Costa Del S...|NOT ACCEPTABLE| -66.22|         null|           2|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    709|
|  CINGULAR WIRELESS|     US|        false|               null|32.72|NA-US-TX-CINGULAR...|Cingular Wireless...|NOT ACCEPTABLE| -97.31|         null|       61391|   TX|           null|      null|         NA| -0.1|-0.83| 0.54|     UNIQUE|  76166|
|         FORT WORTH|     US|        false|               4053|32.75| NA-US-TX-FORT WORTH|      Fort Worth, TX|       PRIMARY| -97.33|         null|       61392|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|           FT WORTH|     US|        false|               4053|32.75|   NA-US-TX-FT WORTH|        Ft Worth, TX|    ACCEPTABLE| -97.33|         null|       61393|   TX|           2126| 122396986|         NA| -0.1|-0.83| 0.54|   STANDARD|  76177|
|    URB EUGENE RICE|     US|        false|               null|17.96|NA-US-PR-URB EUGE...| Urb Eugene Rice, PR|NOT ACCEPTABLE| -66.22|         null|           4|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|               MESA|     US|        false|              26883|33.37|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.64|no NWS data, |       39827|   AZ|          14962| 563792730|         NA| -0.3|-0.77| 0.55|   STANDARD|  85209|
|               MESA|     US|        false|              25446|33.38|       NA-US-AZ-MESA|            Mesa, AZ|       PRIMARY|-111.84|         null|       39828|   AZ|          14374| 471000465|         NA|-0.31|-0.77| 0.55|   STANDARD|  85210|
|           HILLIARD|     US|        false|               7443|30.69|   NA-US-FL-HILLIARD|        Hilliard, FL|       PRIMARY| -81.92|         null|       49345|   FL|           3922| 133112149|         NA| 0.12|-0.85| 0.51|   STANDARD|  32046|
|             HOLDER|     US|        false|               null|28.96|     NA-US-FL-HOLDER|          Holder, FL|       PRIMARY| -82.41|         null|       49346|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34445|
|               HOLT|     US|        false|               2190|30.72|       NA-US-FL-HOLT|            Holt, FL|       PRIMARY| -86.67|         null|       49347|   FL|           1207|  36395913|         NA| 0.04|-0.85| 0.51|   STANDARD|  32564|
|          HOMOSASSA|     US|        false|               null|28.78|  NA-US-FL-HOMOSASSA|       Homosassa, FL|       PRIMARY| -82.61|         null|       49348|   FL|           null|      null|         NA| 0.11|-0.86| 0.48|     PO BOX|  34487|
|       BDA SAN LUIS|     US|        false|               null|18.14|NA-US-PR-BDA SAN ...|    Bda San Luis, PR|NOT ACCEPTABLE| -66.26|         null|          10|   PR|           null|      null|         NA| 0.38|-0.86| 0.31|   STANDARD|    708|
|      SECT LANAUSSE|     US|        false|               null|17.96|NA-US-PR-SECT LAN...|   Sect Lanausse, PR|NOT ACCEPTABLE| -66.22|         null|           3|   PR|           null|      null|         NA| 0.38|-0.87|  0.3|   STANDARD|    704|
|      SPRING GARDEN|     US|        false|               null|33.97|NA-US-AL-SPRING G...|   Spring Garden, AL|       PRIMARY| -85.55|         null|       54354|   AL|           null|      null|         NA| 0.06|-0.82| 0.55|     PO BOX|  36275|
|        SPRINGVILLE|     US|        false|               7845|33.77|NA-US-AL-SPRINGVILLE|     Springville, AL|       PRIMARY| -86.47|         null|       54355|   AL|           4046| 172127599|         NA| 0.05|-0.82| 0.55|   STANDARD|  35146|
|        SPRUCE PINE|     US|        false|               1209|34.37|NA-US-AL-SPRUCE PINE|     Spruce Pine, AL|       PRIMARY| -87.69|         null|       54356|   AL|            610|  18525517|         NA| 0.03|-0.82| 0.56|   STANDARD|  35585|
|           ASH HILL|     US|        false|               1666| 36.4|   NA-US-NC-ASH HILL|        Ash Hill, NC|NOT ACCEPTABLE| -80.56|         null|       76511|   NC|            842|  28876493|         NA| 0.13|-0.79| 0.59|   STANDARD|  27007|
|           ASHEBORO|     US|        false|              15228|35.71|   NA-US-NC-ASHEBORO|        Asheboro, NC|       PRIMARY| -79.81|         null|       76512|   NC|           8355| 215474318|         NA| 0.14|-0.79| 0.58|   STANDARD|  27203|
+-------------------+-------+-------------+-------------------+-----+--------------------+--------------------+--------------+-------+-------------+------------+-----+---------------+----------+-----------+-----+-----+-----+-----------+-------+
only showing top 20 rows

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark_sql_connect')\
                            .config("spark.jars", "./mysql-connector-j-8.0.32.jar")\
                            .getOrCreate()

df = spark.read \
    .jdbc("jdbc:mysql://localhost:3306/classicmodels", "products", \
          properties={"user": "root", "driver":"com.mysql.cj.jdbc.Driver"})
df.show()

+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
|productCode|         productName|     productLine|productScale|       productVendor|  productDescription|quantityInStock|buyPrice|  MSRP|
+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
|   S10_1678|1969 Harley David...|     Motorcycles|        1:10|     Min Lin Diecast|This replica feat...|           7933|   48.81| 95.70|
|   S10_1949|1952 Alpine Renau...|    Classic Cars|        1:10|Classic Metal Cre...|Turnable front wh...|           7305|   98.58|214.30|
|   S10_2016|1996 Moto Guzzi 1...|     Motorcycles|        1:10|Highway 66 Mini C...|Official Moto Guz...|           6625|   68.99|118.94|
|   S10_4698|2003 Harley-David...|     Motorcycles|        1:10|   Red Start Diecast|Model features, o...|           5582|   91.02|193.66|
|   S10_4757| 1972 Alfa Romeo GTA|    Classic Cars|        1:10|Motor City Art Cl...|Features include:...|           3252|   85.68|136.00|
|   S10_4962|1962 LanciaA Delt...|    Classic Cars|        1:10| Second Gear Diecast|Features include:...|           6791|  103.42|147.74|
|   S12_1099|   1968 Ford Mustang|    Classic Cars|        1:12|Autoart Studio De...|Hood, doors and t...|             68|   95.34|194.57|
|   S12_1108|   2001 Ferrari Enzo|    Classic Cars|        1:12| Second Gear Diecast|Turnable front wh...|           3619|   95.59|207.80|
|   S12_1666|      1958 Setra Bus|Trucks and Buses|        1:12|Welly Diecast Pro...|Model features 30...|           1579|   77.90|136.67|
|   S12_2823|    2002 Suzuki XREO|     Motorcycles|        1:12|Unimax Art Galleries|Official logos an...|           9997|   66.27|150.62|
|   S12_3148|  1969 Corvair Monza|    Classic Cars|        1:18|Welly Diecast Pro...|1:18 scale die-ca...|           6906|   89.14|151.08|
|   S12_3380|  1968 Dodge Charger|    Classic Cars|        1:12|Welly Diecast Pro...|1:12 scale model ...|           9123|   75.16|117.44|
|   S12_3891|    1969 Ford Falcon|    Classic Cars|        1:12| Second Gear Diecast|Turnable front wh...|           1049|   83.05|173.02|
|   S12_3990|1970 Plymouth Hem...|    Classic Cars|        1:12| Studio M Art Models|Very detailed 197...|           5663|   31.92| 79.80|
|   S12_4473|   1957 Chevy Pickup|Trucks and Buses|        1:12|       Exoto Designs|1:12 scale die-ca...|           6125|   55.70|118.50|
|   S12_4675|  1969 Dodge Charger|    Classic Cars|        1:12|Welly Diecast Pro...|Detailed model of...|           7323|   58.73|115.16|
|   S18_1097|1940 Ford Pickup ...|Trucks and Buses|        1:18| Studio M Art Models|This model featur...|           2613|   58.33|116.67|
|   S18_1129|     1993 Mazda RX-7|    Classic Cars|        1:18|Highway 66 Mini C...|This model featur...|           3975|   83.51|141.54|
|   S18_1342|1937 Lincoln Berline|    Vintage Cars|        1:18|Motor City Art Cl...|Features opening ...|           8693|   60.62|102.74|
|   S18_1367|1936 Mercedes-Ben...|    Vintage Cars|        1:18| Studio M Art Models|This 1:18 scale r...|           8635|   24.26| 53.91|
+-----------+--------------------+----------------+------------+--------------------+--------------------+---------------+--------+------+
only showing top 20 rows

In [5]:
df=spark.read.format("jdbc")\
             .option("driver","com.mysql.cj.jdbc.Driver")\
             .option("url","jdbc:mysql://localhost:3306/classicmodels")\
             .option("user","root")\
             .option("dbtable","orders")\
             .load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10100|2003-01-06|  2003-01-13| 2003-01-10|Shipped|                null|           363|
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10102|2003-01-10|  2003-01-18| 2003-01-14|Shipped|                null|           181|
|      10103|2003-01-29|  2003-02-07| 2003-02-02|Shipped|                null|           121|
|      10104|2003-01-31|  2003-02-09| 2003-02-01|Shipped|                null|           141|
|      10105|2003-02-11|  2003-02-21| 2003-02-12|Shipped|                null|           145|
|      10106|2003-02-17|  2003-02-24| 2003-02-21|Shipped|                null|           278|
|      10107|2003-02-24|  2003-03-03| 2003-02-26|Shipped|Difficult to nego...|           131|
|      10108|2003-03-03|  2003-03-12| 2003-03-08|Shipped|                null|           385|
|      10109|2003-03-10|  2003-03-19| 2003-03-11|Shipped|Customer requeste...|           486|
|      10110|2003-03-18|  2003-03-24| 2003-03-20|Shipped|                null|           187|
|      10111|2003-03-25|  2003-03-31| 2003-03-30|Shipped|                null|           129|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10113|2003-03-26|  2003-04-02| 2003-03-27|Shipped|                null|           124|
|      10114|2003-04-01|  2003-04-07| 2003-04-02|Shipped|                null|           172|
|      10115|2003-04-04|  2003-04-12| 2003-04-07|Shipped|                null|           424|
|      10116|2003-04-11|  2003-04-19| 2003-04-13|Shipped|                null|           381|
|      10117|2003-04-16|  2003-04-24| 2003-04-17|Shipped|                null|           148|
|      10118|2003-04-21|  2003-04-29| 2003-04-26|Shipped|Customer has work...|           216|
|      10119|2003-04-28|  2003-05-05| 2003-05-02|Shipped|                null|           382|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
only showing top 20 rows

In [8]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-cp39-cp39-macosx_12_0_arm64.whl (4.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 14.0 MB/s eta 0:00:00a 0:00:01
Collecting protobuf<=3.20.3,>=3.11.0
  Downloading protobuf-3.20.3-py2.py3-none-any.whl (162 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 162.1/162.1 kB 20.0 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.32 protobuf-3.20.3

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [3]:
import mysql.connector
#spark = SparkSession.builder.master(master).appName(appName).getOrCreate()
conn = mysql.connector.connect(host="localhost",
                               user="root")

In [8]:
cur = conn.cursor()
cur.execute("show databases;")
dbs = cur.fetchall()
print(dbs)
conn.close()

[('classicmodels',), ('information_schema',), ('mysql',), ('performance_schema',), ('sys',), ('test_db',)]

In [11]:
appName = "PySpark+mysql.connector"
master = "local"

spark = SparkSession.builder.master(master).appName(appName).getOrCreate()

# Establish a connection
conn = mysql.connector.connect(user='root', database='classicmodels',
                               host="localhost")
cursor = conn.cursor()
query = "SELECT productCode, productName FROM products"
# Create a pandas dataframe
pdf = pd.read_sql(query, con=conn)
conn.close()

# Convert Pandas dataframe to spark DataFrame
df = spark.createDataFrame(pdf)

df.show()

/var/folders/b_/g3c_7hwd70j9k5t4lqfhswnh0000gn/T/ipykernel_2553/77378744.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pdf = pd.read_sql(query, con=conn)
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
/Users/sae/Library/Python/3.9/lib/python/site-packages/pyspark/sql/pandas/conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

+-----------+--------------------+
|productCode|         productName|
+-----------+--------------------+
|   S10_1678|1969 Harley David...|
|   S10_1949|1952 Alpine Renau...|
|   S10_2016|1996 Moto Guzzi 1...|
|   S10_4698|2003 Harley-David...|
|   S10_4757| 1972 Alfa Romeo GTA|
|   S10_4962|1962 LanciaA Delt...|
|   S12_1099|   1968 Ford Mustang|
|   S12_1108|   2001 Ferrari Enzo|
|   S12_1666|      1958 Setra Bus|
|   S12_2823|    2002 Suzuki XREO|
|   S12_3148|  1969 Corvair Monza|
|   S12_3380|  1968 Dodge Charger|
|   S12_3891|    1969 Ford Falcon|
|   S12_3990|1970 Plymouth Hem...|
|   S12_4473|   1957 Chevy Pickup|
|   S12_4675|  1969 Dodge Charger|
|   S18_1097|1940 Ford Pickup ...|
|   S18_1129|     1993 Mazda RX-7|
|   S18_1342|1937 Lincoln Berline|
|   S18_1367|1936 Mercedes-Ben...|
+-----------+--------------------+
only showing top 20 rows

In [6]:
spark = SparkSession.builder.master("local[*]").appName("Test SQL app").getOrCreate()

23/02/09 23:10:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [43]:
df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable="classicmodels.orders").load()

In [44]:
 # return number of rows
df.count()

326

In [45]:
df.printSchema()

root
 |-- orderNumber: integer (nullable = true)
 |-- orderDate: date (nullable = true)
 |-- requiredDate: date (nullable = true)
 |-- shippedDate: date (nullable = true)
 |-- status: string (nullable = true)
 |-- comments: string (nullable = true)
 |-- customerNumber: integer (nullable = true)

In [11]:
# Read with custom query:
query="(select * from orders where customerNumber = 144) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

In [46]:
# Read with custom query:
query="(select * from orders where customerNumber = 144 or customerNumber = 128) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query \
                                    ).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10101|2003-01-09|  2003-01-18| 2003-01-11|Shipped|Check on availabi...|           128|
|      10230|2004-03-15|  2004-03-24| 2004-03-20|Shipped|Customer very con...|           128|
|      10300|2003-10-04|  2003-10-13| 2003-10-09|Shipped|                null|           128|
|      10323|2004-11-05|  2004-11-12| 2004-11-09|Shipped|                null|           128|
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

In [13]:
df.explain()

== Physical Plan ==
*(1) Scan JDBCRelation((select * from orders where customerNumber = 144 or customerNumber = 128) as cust) [numPartitions=1] [orderNumber#415,orderDate#416,requiredDate#417,shippedDate#418,status#419,comments#420,customerNumber#421] PushedFilters: [], ReadSchema: struct<orderNumber:int,orderDate:date,requiredDate:date,shippedDate:date,status:string,comments:s...

23/02/10 06:09:48 WARN HeartbeatReceiver: Removing executor driver with no recent heartbeats: 971430 ms exceeds timeout 120000 ms
23/02/10 06:09:48 WARN SparkContext: Killing executors is not supported by current scheduler.

In [15]:
# withColumn:
df = spark.read.load("spark_files/RealEstate.csv", format="csv", header = True,inferSchema = True)
df.head(3)

[Row(MLS=132842, Location='Arroyo Grande', Price=795000.0, Bedrooms=3, Bathrooms=3, Size=2371, Price SQ Ft=335.3, Status='Short Sale'),
 Row(MLS=134364, Location='Paso Robles', Price=399000.0, Bedrooms=4, Bathrooms=3, Size=2818, Price SQ Ft=141.59, Status='Short Sale'),
 Row(MLS=135141, Location='Paso Robles', Price=545000.0, Bedrooms=4, Bathrooms=3, Size=3032, Price SQ Ft=179.75, Status='Short Sale')]

In [18]:
df = df.withColumn("PriceAfterService", df.Price+ 1000)

In [19]:
df.columns

['MLS',
 'Location',
 'Price',
 'Bedrooms',
 'Bathrooms',
 'Size',
 'Price SQ Ft',
 'Status',
 'PriceAfterService']

In [20]:
df.show(8)

+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|   MLS|          Location|   Price|Bedrooms|Bathrooms|Size|Price SQ Ft|    Status|PriceAfterService|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
|132842|     Arroyo Grande|795000.0|       3|        3|2371|      335.3|Short Sale|         796000.0|
|134364|       Paso Robles|399000.0|       4|        3|2818|     141.59|Short Sale|         400000.0|
|135141|       Paso Robles|545000.0|       4|        3|3032|     179.75|Short Sale|         546000.0|
|135712|         Morro Bay|909000.0|       4|        4|3540|     256.78|Short Sale|         910000.0|
|136282|Santa Maria-Orcutt|109900.0|       3|        1|1249|      87.99|Short Sale|         110900.0|
|136431|            Oceano|324900.0|       3|        3|1800|      180.5|Short Sale|         325900.0|
|137036|Santa Maria-Orcutt|192900.0|       4|        2|1603|     120.34|Short Sale|         193900.0|
|137090|Santa Maria-Orcutt|215000.0|       3|        2|1450|     148.28|Short Sale|         216000.0|
+------+------------------+--------+--------+---------+----+-----------+----------+-----------------+
only showing top 8 rows

In [21]:
#SELECT select columns from df:
df.select("Location", "Price", "Status").show(30)

+------------------+---------+----------+
|          Location|    Price|    Status|
+------------------+---------+----------+
|     Arroyo Grande| 795000.0|Short Sale|
|       Paso Robles| 399000.0|Short Sale|
|       Paso Robles| 545000.0|Short Sale|
|         Morro Bay| 909000.0|Short Sale|
|Santa Maria-Orcutt| 109900.0|Short Sale|
|            Oceano| 324900.0|Short Sale|
|Santa Maria-Orcutt| 192900.0|Short Sale|
|Santa Maria-Orcutt| 215000.0|Short Sale|
|         Morro Bay| 999000.0|Short Sale|
|        Atascadero| 319000.0|Short Sale|
|Santa Maria-Orcutt| 350000.0|Short Sale|
|Santa Maria-Orcutt| 249000.0|Short Sale|
|     Arroyo Grande| 299000.0|Short Sale|
|Santa Maria-Orcutt| 235900.0|Short Sale|
|Santa Maria-Orcutt| 348000.0|Short Sale|
|       Paso Robles| 314000.0|Short Sale|
|        Los Alamos| 399000.0|Short Sale|
|        San Miguel| 599000.0|Short Sale|
|       Paso Robles| 299000.0|Short Sale|
|   San Luis Obispo| 425000.0|Short Sale|
|         Morro Bay|1100000.0|Short Sale|
|           Cayucos|1500000.0|Short Sale|
|Santa Maria-Orcutt| 110000.0|Short Sale|
|Santa Maria-Orcutt| 200000.0|Short Sale|
|Santa Maria-Orcutt| 134900.0|Short Sale|
|Santa Maria-Orcutt| 250000.0|Short Sale|
|       Pismo Beach| 950000.0|Short Sale|
|Santa Maria-Orcutt| 239950.0|Short Sale|
|Santa Maria-Orcutt| 170000.0|Short Sale|
|Santa Maria-Orcutt| 285000.0|Short Sale|
+------------------+---------+----------+
only showing top 30 rows

In [24]:
cardf = spark.read.load("spark_files/cars.csv", format="csv", header = True,inferSchema = True)
cardf.show(3)
cardf[["Weight", "Horsepower"]].show(2)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 3 rows

+------+----------+
|Weight|Horsepower|
+------+----------+
|  3821|       175|
|  3850|       190|
+------+----------+
only showing top 2 rows

In [30]:
# select with withcolumn
cardf.withColumn("hw_ratio", cardf["Weight"]/cardf["Horsepower"]).show(3)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|          hw_ratio|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|21.834285714285713|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|20.263157894736842|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|             24.48|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+------------------+
only showing top 3 rows

In [31]:
from pyspark.sql.functions import mean,avg,max,min
from pyspark.sql.functions import round as round_

In [32]:
cardf.select(round_("Acceleration")).show(2)

+----------------------+
|round(Acceleration, 0)|
+----------------------+
|                  11.0|
|                   9.0|
+----------------------+
only showing top 2 rows

In [33]:
cardf.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- city: string (nullable = true)

In [34]:
cardf.select(max("quantity"),min("quantity")).show()

+-------------+-------------+
|max(quantity)|min(quantity)|
+-------------+-------------+
|        75275|            2|
+-------------+-------------+

In [35]:
# Reading the Dataset
df = spark.read.load("spark_files/RealEstate.csv", format="csv", header = True,inferSchema = True)

df.select('Location','Price').filter(df['Price'] < 50000).show ()

+-------------------+-------+
|           Location|  Price|
+-------------------+-------+
| Santa Maria-Orcutt|29000.0|
|         New Cuyama|40900.0|
| Santa Maria-Orcutt|36000.0|
| Santa Maria-Orcutt|26500.0|
+-------------------+-------+

In [36]:
# sort is expensive:
df.select("Location", "Price").sort(df["Price"].desc()).show(100)

+-------------------+---------+
|           Location|    Price|
+-------------------+---------+
|      Arroyo Grande|5499000.0|
|            Cambria|2995000.0|
|    San Luis Obispo|2369000.0|
|            Cambria|2000000.0|
|        Avila Beach|1999000.0|
|      Arroyo Grande|1900000.0|
|        Pismo Beach|1799000.0|
|             Nipomo|1700000.0|
|            Bradley|1600000.0|
|            Cayucos|1500000.0|
|      Arroyo Grande|1499000.0|
|    San Luis Obispo|1490000.0|
|             Nipomo|1399900.0|
|          Templeton|1399000.0|
|         Santa Ynez|1395000.0|
|           Los Osos|1350000.0|
|            Cambria|1290000.0|
|             Oceano|1250000.0|
|           Los Osos|1249000.0|
|      Arroyo Grande|1249000.0|
|        Out Of Area|1195000.0|
|             Oceano|1195000.0|
|          Templeton|1150000.0|
|            Cambria|1100000.0|
|          Morro Bay|1100000.0|
|        Pismo Beach|1100000.0|
|             Nipomo|1065000.0|
|          Morro Bay|1045000.0|
|       Grover Beach| 999000.0|
|         Santa Ynez| 999000.0|
|          Morro Bay| 999000.0|
|            Cambria| 995000.0|
|         Atascadero| 995000.0|
|      Arroyo Grande| 995000.0|
|          Morro Bay| 982800.0|
|      Arroyo Grande| 975000.0|
|        Pismo Beach| 950000.0|
|         Atascadero| 949000.0|
|        Pismo Beach| 920000.0|
|          Morro Bay| 909000.0|
|         Atascadero| 900000.0|
|          Morro Bay| 899000.0|
|        Pismo Beach| 899000.0|
|          Templeton| 899000.0|
|         Atascadero| 895000.0|
|    San Luis Obispo| 890000.0|
|         Atascadero| 890000.0|
|             Nipomo| 879000.0|
|        Pismo Beach| 875000.0|
|         Atascadero| 865000.0|
|            Cambria| 865000.0|
| Santa Maria-Orcutt| 850000.0|
|         Atascadero| 850000.0|
|      Arroyo Grande| 850000.0|
|      Arroyo Grande| 849900.0|
|        Pismo Beach| 849500.0|
|        Avila Beach| 839000.0|
|         Atascadero| 830000.0|
|         Atascadero| 829900.0|
|            Cambria| 825000.0|
|         Atascadero| 820000.0|
|         Atascadero| 810000.0|
|          Templeton| 799000.0|
|        Pismo Beach| 795000.0|
|      Arroyo Grande| 795000.0|
|         Santa Ynez| 795000.0|
|          Morro Bay| 789000.0|
|             Oceano| 789000.0|
|           Los Osos| 779000.0|
|        Avila Beach| 779000.0|
|          Templeton| 774800.0|
|          Morro Bay| 774000.0|
| Santa Maria-Orcutt| 751900.0|
|         Atascadero| 750000.0|
|      Arroyo Grande| 749000.0|
|           Los Osos| 729000.0|
|            Cambria| 729000.0|
|         San Miguel| 720000.0|
| Santa Maria-Orcutt| 699900.0|
|            Cambria| 699900.0|
|             Nipomo| 699000.0|
|         Atascadero| 699000.0|
|        Paso Robles| 695000.0|
|            Cayucos| 695000.0|
|         Santa Ynez| 695000.0|
|         Atascadero| 669000.0|
|          Morro Bay| 652000.0|
|            Cambria| 650000.0|
|           Los Osos| 650000.0|
|             Nipomo| 650000.0|
|             Nipomo| 649000.0|
|           Los Osos| 648000.0|
|           Buellton| 645000.0|
| Santa Maria-Orcutt| 641900.0|
|         Atascadero| 640000.0|
|        Pismo Beach| 639900.0|
|           Los Osos| 625000.0|
|          Templeton| 625000.0|
|        Pismo Beach| 604995.0|
|        Paso Robles| 599900.0|
+-------------------+---------+
only showing top 100 rows

In [38]:
df.select("Location", "Price").groupby("Location").avg().show(3)

+-----------+-----------------+
|   Location|       avg(Price)|
+-----------+-----------------+
|Pismo Beach|772374.5833333334|
|  King City|         131190.0|
| New Cuyama|          40900.0|
+-----------+-----------------+
only showing top 3 rows

In [40]:
df.select("Location", "Status", df.Status.like("%Foreclosure%")).show(10)

+------------------+----------+-------------------------+
|          Location|    Status|Status LIKE %Foreclosure%|
+------------------+----------+-------------------------+
|     Arroyo Grande|Short Sale|                    false|
|       Paso Robles|Short Sale|                    false|
|       Paso Robles|Short Sale|                    false|
|         Morro Bay|Short Sale|                    false|
|Santa Maria-Orcutt|Short Sale|                    false|
|            Oceano|Short Sale|                    false|
|Santa Maria-Orcutt|Short Sale|                    false|
|Santa Maria-Orcutt|Short Sale|                    false|
|         Morro Bay|Short Sale|                    false|
|        Atascadero|Short Sale|                    false|
+------------------+----------+-------------------------+
only showing top 10 rows

### SQL querries

In [41]:

zipdf = spark.read.json("spark_files/zipcode1.json")
zipdf.createTempView("ziptable1")
spark.sql("SELECT count(*) from ziptable1").show()
#alternate spark.sql("SELECT count(*) from ziptable1")

+--------+
|count(1)|
+--------+
|       1|
+--------+

In [53]:
# Read with custom query:
query="(select * from orders where customerNumber = 144) as cust"

df=spark.read.format("jdbc").options(driver="com.mysql.cj.jdbc.Driver",\
                                     user="root",\
                                     url="jdbc:mysql://localhost:3306/classicmodels",\
                                     dbtable=query).load()
df.show()

+-----------+----------+------------+-----------+-------+--------------------+--------------+
|orderNumber| orderDate|requiredDate|shippedDate| status|            comments|customerNumber|
+-----------+----------+------------+-----------+-------+--------------------+--------------+
|      10112|2003-03-24|  2003-04-03| 2003-03-29|Shipped|Customer requeste...|           144|
|      10320|2004-11-03|  2004-11-13| 2004-11-07|Shipped|                null|           144|
|      10326|2004-11-09|  2004-11-16| 2004-11-10|Shipped|                null|           144|
|      10334|2004-11-19|  2004-11-28|       null|On Hold|The outstaniding ...|           144|
+-----------+----------+------------+-----------+-------+--------------------+--------------+

In [54]:
# -- initializing data ---
simpleData = [(1,"James","Sales","NY",90000), \
    (2,"Michael","Sales","NY",86000), \
    (3,"Robert","Sales","CA",81000), \
    (4,"Maria","Finance","CA",90000)]
#---- Declare schema for data-----
columns = ["EMPLOYEEID","employee_name","department","state","salary"]

# --- Creating data frame Using createDataFrame() function-----
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()

root
 |-- EMPLOYEEID: long (nullable = true)
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)

In [66]:
#----  save the dataframe to the MySQL table-----
df.write.format("jdbc") \
  .mode("append") \
  .option("url", "jdbc:mysql://localhost:3306/classicmodels") \
  .option("dbtable", "classicmodels.Employees_forSparkDemo") \
  .option("user", "root") \
  .option("driver", "com.mysql.cj.jdbc.Driver")\
  .option("password", "").save()
  #.option("password", "password") \
  #.save()

In [68]:
empdf = spark.read.load("spark_files/employee.csv", format="csv", header = True,inferSchema = True)
empdf.printSchema()

officedf = spark.read.load("spark_files/officecode.csv", format="csv", header = True  ,inferSchema = True)
empdf.printSchema()

empdf.createTempView("employee_table")
officedf.createTempView("office_table")

spark.sql("SELECT employee_table.employeeNumber, employee_table.firstName,employee_table.lastName,jobTitle, employee_table.officeCode, \
office_table.addressLine1, office_table.state  FROM employee_table \
join office_table ON office_table.officeCode = employee_table.officeCode").show(10)

root
 |-- employeeNumber: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email: string (nullable = true)
 |-- officeCode: integer (nullable = true)
 |-- reportsTo: integer (nullable = true)
 |-- jobTitle: string (nullable = true)

root
 |-- employeeNumber: integer (nullable = true)
 |-- lastName: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- extension: string (nullable = true)
 |-- email: string (nullable = true)
 |-- officeCode: integer (nullable = true)
 |-- reportsTo: integer (nullable = true)
 |-- jobTitle: string (nullable = true)

+--------------+---------+---------+--------------------+----------+--------------------+-----+
|employeeNumber|firstName| lastName|            jobTitle|officeCode|        addressLine1|state|
+--------------+---------+---------+--------------------+----------+--------------------+-----+
|          1002|    Diane|   Murphy|           President|         1|   100 Market Street|   CA|
|          1056|     Mary|Patterson|            VP Sales|         1|   100 Market Street|   CA|
|          1076|     Jeff| Firrelli|        VP Marketing|         1|   100 Market Street|   CA|
|          1088|  William|Patterson|Sales Manager (APAC)|         6|5-11 Wentworth Av...| NULL|
|          1102|   Gerard|   Bondur| Sale Manager (EMEA)|         4|     43 Rue Jouffroy|   NY|
|          1143|  Anthony|      Bow|  Sales Manager (NA)|         1|   100 Market Street|   CA|
|          1165|   Leslie| Jennings|           Sales Rep|         1|   100 Market Street|   CA|
|          1166|   Leslie| Thompson|           Sales Rep|         1|   100 Market Street|   CA|
|          1188|    Julie| Firrelli|           Sales Rep|         2|    1550 Court Place|   MA|
|          1216|    Steve|Patterson|           Sales Rep|         2|    1550 Court Place|   MA|
+--------------+---------+---------+--------------------+----------+--------------------+-----+
only showing top 10 rows

In [69]:
cardf = spark.read.load("spark_files/cars.csv", format="csv", header = True,inferSchema = True)
#the above line will return data in a Dataframe

cardf.printSchema()

root
 |-- Car: string (nullable = true)
 |-- MPG: double (nullable = true)
 |-- Cylinders: integer (nullable = true)
 |-- Displacement: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Acceleration: double (nullable = true)
 |-- Model: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- city: string (nullable = true)

In [70]:
cardf.createTempView("dealer")  # deal will use as a table name
spark.sql("SELECT * from dealer").show(100)

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|   city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
|AMC Ambassador Br...|13.0|        8|       360.0|       175|  3821|        11.0|   73|    US|      25|NewYork|
|  AMC Ambassador DPL|15.0|        8|       390.0|       190|  3850|         8.5|   70|    US|       2|     NJ|
|  AMC Ambassador SST|17.0|        8|       304.0|       150|  3672|        11.5|   72|    US|       4| DALLAS|
|         AMC Concord|19.4|        6|       232.0|        90|  3210|        17.2|   78|    US|      52|  TEXAS|
|         AMC Concord|24.3|        4|       151.0|        90|  3003|        20.1|   80|    US|      42|     OH|
|     AMC Concord d/l|18.1|        6|       258.0|       120|  3410|        15.1|   78|    US|       4|NewYork|
|      AMC Concord DL|23.0|        4|       151.0|         0|  3035|        20.5|   82|    US|      45|     NJ|
|    AMC Concord DL 6|20.2|        6|       232.0|        90|  3265|        18.2|   79|    US|     328| DALLAS|
|         AMC Gremlin|21.0|        6|       199.0|        90|  2648|        15.0|   70|    US|      68|  TEXAS|
|         AMC Gremlin|19.0|        6|       232.0|       100|  2634|        13.0|   71|    US|      78|     OH|
|         AMC Gremlin|18.0|        6|       232.0|       100|  2789|        15.0|   73|    US|     152|NewYork|
|         AMC Gremlin|20.0|        6|       232.0|       100|  2914|        16.0|   75|    US|     214|     NJ|
|          AMC Hornet|18.0|        6|       199.0|        97|  2774|        15.5|   70|    US|      60| DALLAS|
|          AMC Hornet|18.0|        6|       232.0|       100|  2945|        16.0|   73|    US|     144|  TEXAS|
|          AMC Hornet|19.0|        6|       232.0|       100|  2901|        16.0|   74|    US|     172|     OH|
|          AMC Hornet|22.5|        6|       232.0|        90|  3085|        17.6|   76|    US|      28|NewYork|
|AMC Hornet Sporta...|18.0|        6|       258.0|       110|  2962|        13.5|   71|    US|      90|     NJ|
|         AMC Matador|18.0|        6|       232.0|       100|  3288|        15.5|   71|    US|      82| DALLAS|
|         AMC Matador|14.0|        8|       304.0|       150|  3672|        11.5|   73|    US|     131|  TEXAS|
|         AMC Matador|16.0|        6|       258.0|       110|  3632|        18.0|   74|    US|     179|NewYork|
|         AMC Matador|15.0|        6|       258.0|       110|  3730|        19.0|   75|    US|     207|     NJ|
|         AMC Matador|15.5|        8|       304.0|       120|  3962|        13.9|   76|    US|     234| DALLAS|
|    AMC Matador (sw)|15.0|        8|       304.0|       150|  3892|        12.5|   72|    US|     117|  TEXAS|
|    AMC Matador (sw)|14.0|        8|       304.0|       150|  4257|        15.5|   74|    US|     185|     OH|
|           AMC Pacer|19.0|        6|       232.0|        90|  3211|        17.0|   75|    US|     221|NewYork|
|       AMC Pacer d/l|17.5|        6|       258.0|        95|  3193|        17.8|   76|    US|      75|     NJ|
|       AMC Rebel SST|16.0|        8|       304.0|       150|  3433|        12.0|   70|    US|       4| DALLAS|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|       175|  3850|        11.0|   70|    US|      53|  TEXAS|
|       AMC Spirit DL|27.4|        4|       121.0|        80|  2670|        15.0|   79|    US|     575|     OH|
|         Audi 100 LS|24.0|        4|       107.0|        90|  2430|        14.5|   70|Europe|      65|NewYork|
|          Audi 100LS|20.0|        4|       114.0|        91|  2582|        14.0|   73|Europe|     164|     NJ|
|          Audi 100LS|23.0|        4|       115.0|        95|  2694|        15.0|   75|Europe|      45| DALLAS|
|           Audi 4000|34.3|        4|        97.0|        78|  2188|        15.8|   80|Europe|     362|  TEXAS|
|           Audi 5000|20.3|        5|       131.0|       103|  2830|        15.9|   78|Europe|     319|     OH|
| Audi 5000s (diesel)|36.4|        5|       121.0|        67|  2950|        19.9|   80|Europe|     372|NewYork|
|            Audi Fox|29.0|        4|        98.0|        83|  2219|        16.5|   74|Europe|     186|     NJ|
|            BMW 2002|26.0|        4|       121.0|       113|  2234|        12.5|   70|Europe|      67| DALLAS|
|            BMW 320i|21.5|        4|       121.0|       110|  2600|        12.8|   77|Europe|     287|  TEXAS|
|       Buick Century|17.0|        6|       231.0|       110|  3907|        21.0|   75|    US|     205|     OH|
|       Buick Century|22.4|        6|       231.0|       110|  3415|        15.8|   81|    US|     409|NewYork|
|   Buick Century 350|13.0|        8|       350.0|       175|  4100|        13.0|   73|    US|     130|     NJ|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432| DALLAS|
|Buick Century Lux...|13.0|        8|       350.0|       150|  4699|        14.5|   74|    US|     182|  TEXAS|
|Buick Century Spe...|20.6|        6|       231.0|       105|  3380|        15.8|   78|    US|     303|     OH|
|Buick Electra 225...|12.0|        8|       455.0|       225|  4951|        11.0|   73|    US|     140|NewYork|
|Buick Estate Wago...|14.0|        8|       455.0|       225|  3086|        10.0|   70|    US|      57|     NJ|
|Buick Estate Wago...|16.9|        8|       350.0|       155|  4360|        14.9|   79|    US|     334| DALLAS|
|Buick LeSabre Custom|13.0|        8|       350.0|       155|  4502|        13.5|   72|    US|     113|  TEXAS|
|Buick Opel Isuzu ...|30.0|        4|       111.0|        80|  2155|        14.8|   77|    US|     814|     OH|
|Buick Regal Sport...|17.7|        6|       231.0|       165|  3445|        13.4|   78|    US|     308|NewYork|
|       Buick Skyhawk|21.0|        6|       231.0|       110|  3039|        15.0|   75|    US|     209|     NJ|
|       Buick Skylark|20.5|        6|       231.0|       105|  3425|        16.9|   77|    US|     271| DALLAS|
|       Buick Skylark|26.6|        4|       151.0|        84|  2635|        16.4|   81|    US|     384|NewYork|
|   Buick Skylark 320|15.0|        8|       350.0|       165|  3693|        11.5|   70|    US|      25|     NJ|
|Buick Skylark Lim...|28.4|        4|       151.0|        90|  2670|        16.0|   79|    US|     350| DALLAS|
|   Cadillac Eldorado|23.0|        8|       350.0|       125|  3900|        17.4|   79|    US|     343|  TEXAS|
|    Cadillac Seville|16.5|        8|       350.0|       180|  4380|        12.1|   76|    US|      28|     OH|
|            Capri ii|25.0|        4|       140.0|        92|  2572|        14.9|   76|    US|     229|NewYork|
|   Chevrolet Bel Air|15.0|        8|       350.0|       145|  4440|        14.0|   75|    US|     202|     NJ|
|       Chevrolet C10|13.0|        8|       350.0|       145|  4055|        12.0|   76|    US|      75| DALLAS|
|    Chevrolet Camaro|27.0|        4|       151.0|        90|  2950|        17.3|   82|    US|     438|  TEXAS|
|Chevrolet Caprice...|13.0|        8|       400.0|       150|  4464|        12.0|   73|    US|     136|     OH|
|Chevrolet Caprice...|17.5|        8|       305.0|       145|  3880|        12.5|   77|    US|     266|NewYork|
|Chevrolet Caprice...|17.0|        8|       305.0|       130|  3840|        15.4|   79|    US|     330|     NJ|
|  Chevrolet Cavalier|28.0|        4|       112.0|        88|  2605|        19.6|   82|    US|     413| DALLAS|
|Chevrolet Cavalie...|34.0|        4|       112.0|        88|  2395|        18.0|   82|    US|     415|  TEXAS|
|Chevrolet Cavalie...|27.0|        4|       112.0|        88|  2640|        18.6|   82|    US|     414|     OH|
|Chevrolet Chevell...| 0.0|        8|       350.0|       165|  4142|        11.5|   70|    US|      33|NewYork|
|Chevrolet Chevell...|13.0|        8|       307.0|       130|  4098|        14.0|   72|    US|     118|     NJ|
|Chevrolet Chevell...|18.0|        8|       307.0|       130|  3504|        12.0|   70|    US|      20| DALLAS|
|Chevrolet Chevell...|17.0|        6|       250.0|       100|  3329|        15.5|   71|    US|      80|NewYork|
|Chevrolet Chevell...|16.0|        6|       250.0|       100|  3781|        17.0|   74|    US|     178|     NJ|
|Chevrolet Chevell...|17.5|        8|       305.0|       140|  4215|        13.0|   76|    US|     232| DALLAS|
|  Chevrolet Chevette|29.0|        4|        85.0|        52|  2035|        22.2|   76|    US|     240|  TEXAS|
|  Chevrolet Chevette|30.5|        4|        98.0|        63|  2051|        17.0|   77|    US|     282|     OH|
|  Chevrolet Chevette|30.0|        4|        98.0|        68|  2155|        16.5|   78|    US|     311|NewYork|
|  Chevrolet Chevette|32.1|        4|        98.0|        70|  2120|        15.5|   80|    US|     356|     NJ|
|  Chevrolet Citation|28.8|        6|       173.0|       115|  2595|        11.3|   79|    US|     351| DALLAS|
|  Chevrolet Citation|28.0|        4|       151.0|        90|  2678|        16.5|   80|    US|     358|  TEXAS|
|  Chevrolet Citation|23.5|        6|       173.0|       110|  2725|        12.6|   81|    US|     386|     OH|
|  Chevrolet Concours|17.5|        6|       250.0|       110|  3520|        16.4|   77|    US|       7|NewYork|
|    Chevrolet Impala|14.0|        8|       454.0|       220|  4354|         9.0|   70|    US|       7|     NJ|
|    Chevrolet Impala|14.0|        8|       350.0|       165|  4209|        12.0|   71|    US|      83| DALLAS|
|    Chevrolet Impala|13.0|        8|       350.0|       165|  4274|        12.0|   72|    US|     107|  TEXAS|
|    Chevrolet Impala|11.0|        8|       400.0|       150|  4997|        14.0|   73|    US|     148|     OH|
|    Chevrolet Malibu|13.0|        8|       350.0|       145|  3988|        13.0|   73|    US|     132|NewYork|
|    Chevrolet Malibu|20.5|        6|       200.0|        95|  3155|        18.2|   78|    US|     298|     NJ|
|Chevrolet Malibu ...|19.2|        8|       267.0|       125|  3605|        15.0|   79|    US|     336| DALLAS|
|Chevrolet Monte C...|15.0|        8|       400.0|       150|  3761|         9.5|   70|    US|      56|NewYork|
|Chevrolet Monte C...|15.5|        8|       350.0|       170|  4165|        11.4|   77|    US|     275|     NJ|
|Chevrolet Monte C...|19.2|        8|       305.0|       145|  3425|        13.2|   78|    US|     307| DALLAS|
|Chevrolet Monte C...|15.0|        8|       350.0|       145|  4082|        13.0|   73|    US|     160|  TEXAS|
| Chevrolet Monza 2+2|20.0|        8|       262.0|       110|  3221|        13.5|   75|    US|     210|     OH|
|      Chevrolet Nova|15.0|        6|       250.0|       100|  3336|        17.0|   74|    US|     173|NewYork|
|      Chevrolet Nova|18.0|        6|       250.0|       105|  3459|        16.0|   75|    US|     198|     NJ|
|      Chevrolet Nova|22.0|        6|       250.0|       105|  3353|        14.5|   76|    US|     237| DALLAS|
|Chevrolet Nova Cu...|16.0|        6|       250.0|       100|  3278|        18.0|   73|    US|     143|  TEXAS|
|      Chevrolet Vega|20.0|        4|       140.0|        90|  2408|        19.5|   72|    US|     105|     OH|
|      Chevrolet Vega|21.0|        4|       140.0|        72|  2401|        19.5|   73|    US|     154|NewYork|
|      Chevrolet Vega|25.0|        4|       140.0|        75|  2542|        17.0|   74|    US|     177|     NJ|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+-------+
only showing top 100 rows

In [71]:
spark.sql("SELECT Car, sum(quantity) FROM dealer GROUP BY Car").show()

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|          206|
|Volkswagen 1131 D...|           63|
|Chevrolet Monte C...|          582|
|     Ford LTD Landau|          331|
|       Honda Prelude|          400|
|      Chevrolet Nova|          608|
|   Volkswagen Rabbit|         1441|
|     Ford Torino 500|           81|
|        Toyota Camry|          153|
|         Audi 100 LS|           65|
|Plymouth Valiant ...|          197|
|Toyota Corolla Ma...|          127|
|Oldsmobile Cutlas...|          752|
|Fiat 124 Sport Coupe|          159|
|Chevrolet Caprice...|          732|
|     Volvo 145e (sw)|          121|
|            Audi Fox|          186|
|    Chevrolet Camaro|          438|
|       Dodge Aspen 6|          329|
|AMC Ambassador Br...|           25|
+--------------------+-------------+
only showing top 20 rows

In [72]:
spark.sql("SELECT Car, sum(quantity) AS sum, max(quantity) AS max FROM dealer GROUP BY Car ORDER BY Car").show();

+--------------------+---+---+
|                 Car|sum|max|
+--------------------+---+---+
|AMC Ambassador Br...| 25| 25|
|  AMC Ambassador DPL|  2|  2|
|  AMC Ambassador SST|  4|  4|
|         AMC Concord| 94| 52|
|      AMC Concord DL| 45| 45|
|    AMC Concord DL 6|328|328|
|     AMC Concord d/l|  4|  4|
|         AMC Gremlin|512|214|
|          AMC Hornet|404|172|
|AMC Hornet Sporta...| 90| 90|
|         AMC Matador|833|234|
|    AMC Matador (sw)|302|185|
|           AMC Pacer|221|221|
|       AMC Pacer d/l| 75| 75|
|       AMC Rebel SST|  4|  4|
|  AMC Rebel SST (sw)| 53| 53|
|       AMC Spirit DL|575|575|
|         Audi 100 LS| 65| 65|
|          Audi 100LS|209|164|
|           Audi 4000|362|362|
+--------------------+---+---+
only showing top 20 rows

In [73]:
spark.sql("SELECT * FROM dealer WHERE quantity > 200 ORDER BY quantity desc").show();

+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|quantity|  city|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
|   Plymouth Arrow GS|25.5|        4|       122.0|        96|  2300|        15.5|   77|    US|   75275|    OH|
|Buick Opel Isuzu ...|30.0|        4|       111.0|        80|  2155|        14.8|   77|    US|     814|    OH|
|      Toyota Mark II|19.0|        6|       156.0|       108|  2930|        15.5|   76| Japan|     757| TEXAS|
|Oldsmobile Cutlas...|17.0|        8|       260.0|       110|  4060|        19.0|   77|    US|     752|    NJ|
|       AMC Spirit DL|27.4|        4|       121.0|        80|  2670|        15.0|   79|    US|     575|    OH|
|     Ford Mustang GL|27.0|        4|       140.0|        86|  2790|        15.6|   82|    US|     439|    OH|
|    Chevrolet Camaro|27.0|        4|       151.0|        90|  2950|        17.3|   82|    US|     438| TEXAS|
|    Toyota Celica GT|32.0|        4|       144.0|        96|  2665|        13.9|   82| Japan|     436| TEXAS|
|Chrysler Lebaron ...|26.0|        4|       156.0|        92|  2585|        14.5|   82|    US|     434|DALLAS|
|Buick Century Lim...|25.0|        6|       181.0|       110|  2945|        16.4|   82|    US|     432|DALLAS|
|       Datsun 310 GX|38.0|        4|        91.0|        67|  1995|        16.2|   82| Japan|     431|    NJ|
|  Honda Civic (auto)|32.0|        4|        91.0|        67|  1965|        15.7|   82| Japan|     430| TEXAS|
|      Toyota Corolla|34.0|        4|       108.0|        70|  2245|        16.9|   82| Japan|     428|    NJ|
|        Honda Accord|36.0|        4|       107.0|        75|  2205|        14.5|   82| Japan|     427|    OH|
|      Mercury Lynx l|36.0|        4|        98.0|        70|  2125|        17.3|   82|    US|     425| TEXAS|
|Plymouth Horizon ...|38.0|        4|       105.0|        63|  2125|        14.7|   82|    US|     424|DALLAS|
|    Mazda GLC Custom|31.0|        4|        91.0|        68|  1970|        17.6|   82| Japan|     423| TEXAS|
|  Mazda GLC Custom l|37.0|        4|        91.0|        68|  2025|        18.2|   82| Japan|     422|    OH|
| Volkswagen Rabbit l|36.0|        4|       105.0|        74|  1980|        15.3|   82|Europe|     421|    NJ|
|Ford Fairmont Futura|24.0|        4|       140.0|        92|  2865|        16.4|   82|    US|     419|    NJ|
+--------------------+----+---------+------------+----------+------+------------+-----+------+--------+------+
only showing top 20 rows

In [74]:
spark.sql("SELECT Car, sum(quantity) FILTER (WHERE Car IN ('Toyota Camry', 'Datsun 200-SX')) AS `sum(quantity)` \
          FROM dealer GROUP BY Car").show(25);

+--------------------+-------------+
|                 Car|sum(quantity)|
+--------------------+-------------+
|Chevrolete Chevel...|         null|
|Volkswagen 1131 D...|         null|
|Chevrolet Monte C...|         null|
|     Ford LTD Landau|         null|
|       Honda Prelude|         null|
|      Chevrolet Nova|         null|
|   Volkswagen Rabbit|         null|
|     Ford Torino 500|         null|
|        Toyota Camry|          153|
|         Audi 100 LS|         null|
|Plymouth Valiant ...|         null|
|Toyota Corolla Ma...|         null|
|Oldsmobile Cutlas...|         null|
|Fiat 124 Sport Coupe|         null|
|Chevrolet Caprice...|         null|
|     Volvo 145e (sw)|         null|
|            Audi Fox|         null|
|    Chevrolet Camaro|         null|
|       Dodge Aspen 6|         null|
|AMC Ambassador Br...|         null|
|    Pontiac Catalina|         null|
|       Ford Maverick|         null|
|      Chevrolet Vega|         null|
|   Plymouth Fury III|         null|
|       Datsun 200-SX|          318|
+--------------------+-------------+
only showing top 25 rows

In [75]:
spark.sql("SELECT Car, REGEXP_EXTRACT(Car, ' ([A-Za-z]+)\.') AS CarTitle FROM dealer").show(10)

+--------------------+----------+
|                 Car|  CarTitle|
+--------------------+----------+
|AMC Ambassador Br...|Ambassador|
|  AMC Ambassador DPL|Ambassador|
|  AMC Ambassador SST|Ambassador|
|         AMC Concord|    Concor|
|         AMC Concord|    Concor|
|     AMC Concord d/l|   Concord|
|      AMC Concord DL|   Concord|
|    AMC Concord DL 6|   Concord|
|         AMC Gremlin|    Gremli|
|         AMC Gremlin|    Gremli|
+--------------------+----------+
only showing top 10 rows